.BuildControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  cursor: pointer;
  outline: none;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}
