.Form__Container {
  margin: 0 auto;
  border: 1px solid #eee;
  min-height: 500px;
  padding: 20px 20px;
  width: 80%;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #ccc;
}
.Title__profile {
  font-size: 24px;
  text-align: center;
  color: blue;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
